{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Festivalul Luminii - un eveniment al Cercetașilor României</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>

    <link rel="stylesheet" href="{% static 'main.css' %}" />

    <meta name="title" content="Festivalul Luminii - Cercetașii României">
    <meta name="description" content="Redescoperă frumusețea lucrurilor mărunte">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://festivalul-luminii.ro/">
    <meta property="og:title" content="Festivalul Luminii - Cercetașii României">
    <meta property="og:description" content="Redescoperă frumusețea lucrurilor mărunte">
    <meta property="og:image"
          content="https://festivalul-luminii.ro/static/fl_fb.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
</head>
<body>
<div id="fl-logo">
    <img src="{% static 'logo_oncr.png' %}">
    <img src="{% static 'fl_logo_padding.png' %}">

</div>
<div id="fl_map"></div>

<script src="{% static 'flmap.js' %}"></script>
</body>
</html>
